

.myModal{
  width: 300px;
  height: auto;
  border: 3px solid var(--color1);
  border-radius: 10px;
  background-color: var(--color1);
  text-align: center;
  position: fixed;
  top: 30%;
  left: 25%;
  color: var(--color2);

}

.myModalCargo{
  width: 100%;
  height: auto;
  border: 3px solid var(--color1);
  border-radius: 10px;
  background-color: var(--color2);
  text-align: center;
  top: 30%;
  left: 25%;
  color: var(--color2);

}


.btn-modal{
  border: 3px solid var(--color1);
  background: var(--color2);
  color: var(--color1);
  border-radius: 10px;
}

