<nav class="navbar fixed-top navbar-expand-lg navbar-light  bg">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/home"><marquee width=400 height=50 direction=right>
      <h2 class="fw-bold">Van Gogh Museum</h2>
    </marquee></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page"routerLink="/home"><i class="fas fa-home"></i>Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" routerLink="/listarDadosFuncionario"><i class="fas fa-address-card"></i>Listar Funcionários</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" routerLink="/departamento"><i class="fas fa-address-card"></i>Listar Departamentos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" routerLink="/listarCargos"><i class="fas fa-address-card"></i>Administrar Dados</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" routerLink="/galeria"><i class="fas fa-solid fa-images"></i>Galeria</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page"routerLink="/login"><i class=" fas fa-solid fa-right-to-bracket"></i></a>
        </li>
        <!-- <li class="nav-item" >
          <a class="nav-link active" aria-current="page"routerLink="/login"><i class=" fas fa-solid fa-right-to-bracket"></i>Sair</a>
        </li> -->
      </ul>
    </div>
  </div>
</nav>
