<app-navbar></app-navbar>
<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner mt-3">
    <h3 class="fst-italic text-center my-3 fs-5">Eu sonho minha pintura e eu pinto meu sonho.</h3>
    <div class="carousel-item active">
      <img src="https://micrio.vangoghmuseum.nl/iiif/TZCqF/full/600,/0/default.webp?hash=Y4rnpMq0CJ905GHT4wvvP6WLxWaJkB_m9klg5MvWCQM" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://micrio.vangoghmuseum.nl/iiif/rAERt/full/600,/0/default.webp?hash=Q0NOIMZzylQVOqKwuXxZxb_TbM6DTFIRE5BOBwKAyjs" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img  src="https://micrio.vangoghmuseum.nl/iiif/pMtwg/full/600,/0/default.webp?hash=DiBf3byEbPgx6IoRaJFK0w3dffEGm7dQBt3WaGJQJzU"class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://micrio.vangoghmuseum.nl/iiif/wTQHw/full/600,/0/default.webp?hash=eQqRIGELdENCxxrbfMuDyY8OdAqlDqz-dWMygbi-pmw"class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://micrio.vangoghmuseum.nl/iiif/qDCTO/full/600,/0/default.webp?hash=hQlHaOBhBVlR4W_gkq3K7bnFL43BFUTntC2puh6JCro"class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://micrio.vangoghmuseum.nl/iiif/NyxcG/full/600,/0/default.webp?hash=YUG26Du4cC6ajiaC5n4SLnH9ULE8YwD16vfnZ2CEF30" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://micrio.vangoghmuseum.nl/iiif/ZKSPH/full/600,/0/default.webp?hash=F2E-RGdej6X0NaDR7WHhvzflZhNJi_PmUBKJUhJVIKo"class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://micrio.vangoghmuseum.nl/iiif/PoVJv/full/600,/0/default.webp?hash=-95hK1BfK2cbFVomtJcevYM1eVLc_7KUWxdfXTgwQ_4" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://micrio.vangoghmuseum.nl/iiif/giZUM/full/600,/0/default.webp?hash=fgrV2Odv1Gjzq0wBDoL6XdHLg3kByy9CbohY8Rv8W4Q" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img  src="https://micrio.vangoghmuseum.nl/iiif/tpKBG/full/600,/0/default.webp?hash=yLj5kh-PI0zGcWPLsFp7ZA2eTBYdRsuNcdTADyPmTPA" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://micrio.vangoghmuseum.nl/iiif/wsTyi/full/600,/0/default.webp?hash=P0zc8aFrUsfRPX-9zSDSZer3gyQkiENMSY8HBR1iDRc" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://micrio.vangoghmuseum.nl/iiif/uqDWp/full/600,/0/default.webp?hash=cjNTg8YfGhb3fqeKYzPq3K_9Y4ZbMV0qolPQha2YqiE" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<!-- <app-footer></app-footer> -->
