<app-nav-login></app-nav-login>
<div class="container w-50 my-5 text-dark">
  <div class="card mb-5">
  <form class="p-3">
    <h3 class="fs-4 text-center my-2"><span class="text-warning">VAN</span><span class="fw-bolder text-success">GOGH</span></h3>
    <div class="mb-3">
        <label class="form-label">Email</label>
        <input type="email" class="form-control border-top-0 border-start-0 border-end-0 border-2 border-success" name="email" [(ngModel)]="user.email" name="email"
        #email="ngModel"required pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" >
        <div class="text-danger fs-6">
          <span *ngIf="email.errors?.['required']">*Campo obrigatório</span>
         <span *ngIf="email.errors?.['pattern']">Email inválido</span>
        </div>
      </div>
      <div class="mb-3">
          <label class="form-label">Senha</label>
          <input type="password" class="form-control border-top-0 border-start-0 border-end-0  border-2 border-success" name="senha" [(ngModel)]="user.senha" #senha="ngModel" required>
       <div class="text-danger fs-6">
         <span *ngIf="senha.errors?.['required']">*Campo obrigatório</span>
         <span *ngIf="email.errors?.['pattern']">Email inválido</span>
      </div>
    </div>
    <div cals="mt-3">
      <button (click)="submit()" class="btn btn-success me-3">Entrar</button>
      <button type="reset" class="btn btn-dark me-3">Limpar</button>
    </div>
  </form>
  </div>
</div>


  <app-footer></app-footer>


